<!--
  Generated template for the PasswordresetPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>بازیابی گذرواژه</ion-title>
  </ion-navbar>

</ion-header>

<ion-content dir="rtl">
  <ion-list>
    <!-- If user knows his/her email-->
    <div>
      <ion-item>
        <ion-label stacked>شماره تلفن همراه </ion-label>
        <ion-input type="text" [(ngModel)]="userName" ></ion-input>
      </ion-item>
      <ion-item>
        <button [disabled]="submitAttempt" type="submit" ion-button block round (click)="resetPasswordByUserName(userName)">ارسال کد بازیابی گذرواژه</button>
      </ion-item>
      <ion-spinner class="button-spinner" *ngIf="((!user) && submitAttempt)" name="ios"></ion-spinner>
<!--       <ion-item *ngIf="submitAttempt" text-wrap>
        <p dir="rtl">ارسال کد بازیابی رمز از طریق پیامک به شماره فوق</p>
        
        <button ion-button full round [disabled]="senCodeSubmitAttempt" (click)="passwordResetByPhone(phone)"> ارسال کد</button>
      </ion-item> -->
      <div *ngIf="submitAttempt">
        <ion-item>
          <ion-label stacked>کد پیامکی دریافت شده را وارد نمایید: {{timer}} ثانیه</ion-label>
          <ion-input [(ngModel)]="secretMatch" placeholder="مثال: 12345" #textInput type="text" (input)="textInput.value.length >= 5 && verifySecret(textInput.value)"></ion-input>
      </ion-item>
      </div>

      <div *ngIf="secretMatch == secret && submitAttempt">
        <ion-item>
          <ion-label>گذرواژه جدید</ion-label>
          <ion-input [(ngModel)]="newPassword" type="password" #pass> </ion-input>
        </ion-item>
        <ion-item>
          <ion-label>تکرار گذرواژه جدید</ion-label>
          <ion-input type="password" #repass> </ion-input>
        </ion-item>
        <ion-item>
          <button ion-button #subPass [disabled]="(pass.value != repass.value) || (pass.value.length == 0)" (click)="updateUserPassword(user, newPassword)" round block >تغییر گذرواژه</button>
        <ion-spinner *ngIf="subPass.pressed" ></ion-spinner>
        </ion-item>
      </div>

      <ion-item *ngIf="!phone && !isLoading && submitAttempt" text-wrap>
        <p>شماره تلفن همراه برای اکانت شما ثبت نشده است. بازیابی رمز از طریق ایمیل:</p>
      </ion-item>
    </div>


    <!-- If user does not know email -->

  </ion-list>
</ion-content>